@font-face {font-family:'lato'; src:url('resources/lato.ttf');}
/*@font-face {font-family:'symbola'; src:url('resources/symbola.ttf');}*/
/*@font-face {font-family:'luciole'; src:url('resources/lucioleregular.ttf');}*/

body{
		background-color: #e1e2e2;
		margin:40px auto;
		max-width:650px;
		line-height:1.6;
		font-size:18px;
		color:#444;
		padding:0 10px;
		font-family:'lato';
	}
	h1 {color:#A78F63; font-size:55px; margin-bottom: .31em;}
	h2 {font-size:44px; text-decoration: underline;}
	h3 {color:#444;margin-bottom: 1px; font-size:33px; text-decoration: underline;}
	aside {font-weight: bold;font-style: italic; color: #777;}
	hr {border: 2px dotted #A78F63; width: 95%; border-radius:3px;}
	a, a:visited {color: #444; font-weight: bold; text-decoration-style: dotted}
	a:hover {text-decoration: underline; color:#e1e2e2; background-color: #777;}
	.menua {text-decoration: none;}
	.navbar {
			background: #E6E7E7;
			padding: .1em;
			margin-bottom:2em;
			border-radius:3px;
			/*border-top: 2px dotted #A78F63;*/
			border-bottom: 2px dotted #A78F63;
		}
	li{margin-top:7px; margin-bottom:7px;}
	ul,ol{margin-left:7px; margin-right:7px;}
	.date, code, pre {color: #777; font-size: 11px; font-family: monospace;}
	code {margin-left:3px; margin-right:3px; background: #E6E7E7;}
	pre {background: #E6E7E7; padding-left:5px; border-radius:3px;}
	blockquote {font-size: 15px;}
	td, th {border: 1px dotted #918e8c;}
	/*.points {color:#777; font-weight: bold; margin-left: auto; margin-right: auto}*/
	/*.points {color:#777; font-weight: bold; position: absolute; left: calc(50% - 100px);}*/
	.points {color:#777; font-weight: bold; position: absolute; left: calc(56% - 100px);}
	img {display: block; border: 0 none; width: 99%;}
	/*img:hover { -webkit-transform: scale(2,2);}*/
	.img:hover{
	    color: #424242;
	  -webkit-transition: all .3s ease-in;
	  -moz-transition: all .3s ease-in;
	  -ms-transition: all .3s ease-in;
	  -o-transition: all .3s ease-in;
	  transition: all .3s ease-in;
	  opacity: 1;
	  transform: scale(1.15);
	  -ms-transform: scale(1.15); /* IE 9 */
	  -webkit-transform: scale(1.15); /* Safari and Chrome */
	}
	#profile_pic {
	                float:left;
	                margin-right: 3px;
	                padding-right: 3px;
	                height:22%;
	                width:11%;
	                border-radius:3px;
	                /*   margin:0em 0em 1em 3em; */
	                }
	/*.footer {font-size: .9em; color: #777;}*/
	.footer {
		background: #E6E7E7;
		padding: .1em; 
		margin-bottom:2em; 
		border-radius:3px; 
		font-size: .9em; 
		color: #777;
		border-top: 2px dotted #A78F63;
		/*border-bottom: 2px dotted #A78F63;*/
		}