@font-face {font-family:'pixeloid'; src:url('pixeloidbold.ttf');}
@font-face {font-family:'lato'; src:url('lato.ttf');}

body {
    margin: auto;
    max-width:660px;
    line-height:1.6;
    font-size:17px;
    font-family: 'lato';
    color: #918e8c;
    margin: .8em .8em .8em .8em;
    background-color: #5842EB;
    padding:7px 7px 7px 7px;
}

h1, h2 {font-family:'pixeloid'; line-height: 1em;}
h1 { font-size:44px; margin-bottom: .31em; color:#32324a;}
h2 {font-size:33px;color:#2a2a3e;}
h3 {margin-bottom: 1px; font-size:22px; text-decoration: underline;}
hr {border: 3px solid #7eb341; width: 77%; border-radius:3px;}

/*p {
    text-align: justify;
}*/

a, a:visited {color: #7eb341; text-decoration: none; font-weight: bold;}
a:hover {text-decoration: underline;}
.menua {margin-left: 33px;}

.navbar {background: #483f3f; padding: .1em; margin-bottom:2em;}

li{margin-top:7px; margin-bottom:7px;}
ul,ol{margin-left:7px; margin-right:7px;}

.date, code, pre {color: #fff; font-size: 11px; font-family: monospace;}
code {margin-left:3px; margin-right:3px; background: #5842EB;}

pre {background: #5842EB; padding-left:5px; border-radius:3px;}

td, th {border: 1px dotted #918e8c;}

.points {color:#7eb341; font-weight: bold;}

#profile_pic {
                float:left;
                margin-right: 3px;
                padding-right: 3px;
                height:25%;
                width:16%;
                border-radius:3px;
                /*   margin:0em 0em 1em 3em; */
                }
img {display: block; border: 0 none; width: 99%;}
/*img:hover { -webkit-transform: scale(2,2);}*/
.img:hover{
    color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

.footer {font-size: .8em;}